@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-transition{
  animation: load 1s ease-in;
  /* transition: all 2s ease-in ; */
}
@keyframes load {
  0% {
    position: relative;
    transform: scale(0.4);
    /* left:30%;
    opacity: 0; */
  }
  100%{
    position: relative;
    transform: scale(1);
    /* left:0%;
    opacity: 1; */
  }
}
.show-items{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: show 1s ease-in 1s infinite;
}
@keyframes show{
  from {
    visibility: hidden;
    opacity: 0;
    position: relative;
    bottom: -20px;
  }
  to {
    visibility: visible;
    opacity: 1;
    bottom: 0px;
  }
}

  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  #chats p{
    display: block;
    float: right;
    background-color: rgb(242, 171, 233);
    padding: .5rem 1rem;
    margin-right: .5rem;
    border-radius: 10px;
  }

  #chats h2{
    display: block;
    float: left;
    background-color: rgb(185, 223, 223);
    padding: .5rem 1rem;
    margin-left: .5rem;
    border-radius: 10px;
  }
