:root {
    --background-color:  #091730f7;
}

body{
    /* background-color: #0c1f43f7; */
    background-color:  #0d192b;
}
#card-component{
    width: 19rem;
    height:34rem;
    margin: 5rem auto;
    border-radius: 1rem;
    padding:1.5rem;
    background-color: #1c2b4af7;
    /* background-color: hsl(216, 50%, 16%); */
    box-shadow: 5px 5px 40px var(--background-color), 10px 10px 40px var(--background-color), 15px 15px 40px var(--background-color);
}
#image-screen{
    display: none;
}
#image-container:hover #image-screen{
    display:block;
    height:100%;
    width:100%;
    background-color:aqua;
    position: absolute;
    opacity: 0.4;
    border-radius: .5rem;
}

#eye{
    display: none;
}
#image-container:hover #eye{
    display: block;
    position: absolute;
    width:3rem;
    top:8rem;
    left:8rem;
}
#image-equilibrium {
    width: 100%;
    border-radius: .5rem;
}
#equilibrium{
    display:flex;
    align-items:flex-end;
    margin-top:1.5rem;
}
#equilibrium h2{
    margin:0;
    padding: 0;
    font-family:'Calibri';
    color: #ffffff;
}
#equilibrium span{
    font-size:1.3rem;
    font-weight:600;
    color: hsl(0, 0%, 100%);
    font-family: 'Rubik';
}

#equilibrium:hover #eq, #equilibrium:hover #hash{
    color:aqua;
}
#card-component-details p{
    /* color: #7089bcf7; */
    font-size: 18px;
    color: #8bacda;
    font-weight: 300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.8rem;
    /* background-color: red; */
}
#card-component-mint-details{
    margin-top:1.5rem;
    display:flex;
    justify-content: space-between;
}

#card-component-mint-price{
    display: flex;
    align-items: center;
    gap:.5rem;
}
#card-component-mint-time{
    display: flex;
    align-items: center;
    gap:.5rem;
}
#card-component-mint-price img{
    width:.7rem;
}
#card-component-mint-price span{
    color:hsl(178, 100%, 50%);
    font-weight:800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#card-component-mint-time img{
    width:1.2rem;
}
#card-component-mint-time span{
    color: #8bacda;
    font-family:'Rubik';
    font-weight: 600;

}

hr{
    background-color: #7089bcf7;
    color: #7089bcf7;
    opacity:0.2;
    margin-top:1.1rem ;
}
#profile{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-top:1rem;
}
#image{
    background-color:rgb(231, 200, 200);
    padding:.1rem;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image img{
    width:2rem;
    height:2rem;
}
#profile-name{
    display: flex;
    align-items: center; 
    gap:.3rem;
    box-sizing:content-box;
}
#creation{
    color: #8bacda;
    font-weight:800;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
#name{
    margin-left: .2rem;
    font-weight: 500;
    color:rgb(210, 209, 243);
    font-family: 'Lato', sans-serif;
    font-size:18px;
}
#name:hover{
    color:aqua;
}
